@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    background-color: #f0f4f8;
    color: #1b3b5f;
}

.navbar {
    background-color: #1b3b5f;
}

.blue-text {
    color: #007bff; /* Use the same blue color as the border */
}

.navbar-brand {
    font-weight: bold;
    color: #f0f4f8;
}

.nav-link {
    color: #f0f4f8;
}

.hero-section {
    background: url('background.jpg') no-repeat center center/cover;
    color: #f0f4f8;
    padding: 100px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
}

.hero-section img {
    border: 5px solid #1b3b5f;
}

.hero-section .title-background {
    background-color: rgba(27, 59, 95, 0.9); /* Azul oscuro */
    padding: 20px;
    display: inline-block;
}

.container {
    padding: 60px 0;
}

.timeline {
    border-left: 3px solid #1b3b5f;
    padding-left: 20px;
    list-style: none;
}

.timeline .timeline-item {
    margin-bottom: 20px;
}

.timeline .timeline-item h5 {
    margin-bottom: 5px;
    font-weight: bold;
}

.project-card {
    border: 1px solid #1b3b5f;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    background-color: #1b3b5f;
}

.list-group-item {
    border: 1px solid #1b3b5f;
    color: #1b3b5f;
}

.social-links a {
    margin: 0 10px;
    color: #1b3b5f;
    font-size: 24px;
}

footer {
    background-color: #1b3b5f;
    color: #f0f4f8;
    padding: 20px 0;
}

.dark-mode {
    background-color: #1b3b5f;
    color: #f0f4f8;
}

.dark-mode .navbar {
    background-color: #123;
}

.dark-mode .hero-section {
    background: url('background-dark.jpg') no-repeat center center/cover;
}

.dark-mode .timeline {
    border-left: 3px solid #7ea9d3;
}

.dark-mode .progress-bar {
    background-color: #7ea9d3;
}

.dark-mode .project-card {
    border-color: #123;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}
