@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.navbar-brand {
    font-weight: bold;
}

.hero-section {
    background: url('background.jpg') no-repeat center center/cover;
    color: white;
    padding: 100px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
}

.hero-section img {
    border: 5px solid white;
}

.hero-section .title-background {
    background-color: rgba(0, 0, 139, 0.7); /* Azul oscuro con transparencia */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.container {
    padding: 60px 0;
}

.timeline {
    border-left: 3px solid #007bff;
    padding-left: 20px;
    list-style: none;
}

.timeline .timeline-item {
    margin-bottom: 20px;
}

.timeline .timeline-item h5 {
    margin-bottom: 5px;
    font-weight: bold;
}

.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    background-color: #007bff;
}

.social-links a {
    margin: 0 10px;
    color: #007bff;
    font-size: 24px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.dark-mode {
    background-color: #212529;
    color: #f8f9fa;
}

.dark-mode .navbar {
    background-color: #343a40;
}

.dark-mode .hero-section {
    background: url('background-dark.jpg') no-repeat center center/cover;
}

.dark-mode .timeline {
    border-left: 3px solid #17a2b8;
}

.dark-mode .progress-bar {
    background-color: #17a2b8;
}

.dark-mode .project-card {
    border-color: #343a40;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}